<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b678">  <td>20/02/10 16:06:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Activity13.afterClass()[pri:0, instance:testNGTests.Activity13@51cdd8a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2619171</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/02/10 16:06:37</td>   <td>-18814</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Activity13.beforeClass()[pri:0, instance:testNGTests.Activity13@51cdd8a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2619171</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/02/10 16:06:45</td>   <td>-10453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity13.f()[pri:0, instance:testNGTests.Activity13@51cdd8a]">f</td> 
  <td>main@2619171</td>   <td></td> </tr>
</table>
